@{ 

    ViewBag.title = "Index";
}

<label>Group:</label>
<select id="group">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
</select>
<button id="subscribe">Subscribe</button>
<button id="send" style="display: none">Say Hello!</button>
<ul id="messages"></ul>

