@{
    ViewBag.title = "Index";
}

@section Scripts{
    @*<script src="~/Scripts/signal/GroupHub.js"></script>*@
    @*<script src="~/Scripts/signal/ExcludeHub.js"></script>*@
    <script src="~/Scripts/signal/Persistent.js"></script>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Groups
    </div>
    <div class="panel-body">
        @Html.Partial("GroupHub")
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Exclude
    </div>
    <div class="panel-body">
        @Html.Partial("ExcludeHub")
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Persistent Connection
    </div>
    <div class="panel-body">
        @Html.Partial("Persistent")
    </div>
</div>
